body {
	background:#ffd;
}

p  {
  font-size:23.5px;
}

div.main {
	text-align:center;
	background:#ffd;
}

div.actual {
	width:7.5in;
	padding:0in;
	margin:.5in;
}

div.tableContainer {
	width:100%;
}

.bayith {
	display:inline-block;
	padding-bottom:0px;
}

.bayith.hebrew {
	width:1.5in;
	font-size:19px;
    direction: rtl;
}

.bayith.english {
	width:2in;
	font-size:11px;
    direction: ltr;
}

[data-language-equal-size=true] .bayith.english, [data-language-equal-size=true] .bayith.hebrew {
	width:1.75in;
}

[data-language-equal-size=true] .bayith.english {
	font-size: 11px;
	text-align: center;
	text-align-last: center;
	vertical-align: top;
	height: 2em;
	position: relative;
}

.bayith:not(:last-child) {
	padding-left: .75ex;
	padding-right: .75ex;
}

.stanza {
	display: inline-block;
	margin: 0px;
}

.acrostic {
	font-weight:bold;
	font-size:1.2em
}

.justify {
	text-align-last: justify
}

[data-offset-acrostic=true] .line_0.col_0.hebrew  .acrostic{
	position:relative;
	left:.75em;
}

[data-offset-acrostic=true] .acrostic{
	position:relative;
	left:.25em;
}
