body {
	background:#ffd;
}

p  {
  font-size:23.5px;
}

div.main {
	text-align:center;
	background:#ffd;
}

div.actual {
	width:7.5in;
	height:10in;
	padding:0in;
	margin:.5in;
}

div.tableContainer {
	width:100%;
}

div.table {
	text-align:center;
	margin: 0 auto;
	display:table;
}

.bayith {
	display:inline-block;
	display:table-cell;
	padding-bottom:0px;
}

.bayith.hebrew {
	min-width:1.5in;
	font-size:20px;
}

.bayith.english {
	min-width:2in;
	font-size:12px;
}

.bayith:not(:last-child) {
	padding-left:1.25ex;
}

.stanza {
	display:table-row;
}

.acrostic {
	font-weight:bold;
	font-size:1.2em
}

.justify {
  text-align: justify;
  word-spacing: -10px;
}
 
.justify:after {
  content: "";
  display: inline-block;
  width: 100%;
}

span._1.__0 {
	padding-left:1.5ex;
}