<html>
  <head>
    <title>תוספת להקהל</title>
   <link rel="stylesheet" type="text/css" href="hakhel.css">
   <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
   <script src= "hakhel.js"></script>

   </head>
   <body dir="rtl" ng-app="myApp" ng-controller="myCtrl" data-ng-init="init()">
      <div class="main">
         <div class="actual" data-split-notes="{{noteOption.split}}" data-interleave-notes="{{noteOption.interleaved}}" data-hoverable-notes="{{noteOption.hoverable}}" data-compact-notes="{{noteOption.compact}}">
            <div dir="ltr" class="option-selectors">
               <div>
			      <label>Layout Options:
					<select ng-model="displayOption" ng-options="o.display for o in displayOptions" ></select>
				  </label>
               </div>
               
			   <div>
			   <label>Note Options:
                  <select ng-model="noteOption" ng-options="o.display for o in noteOptions" ></select>
				  </label>
               </div>
			   
            </div>
            <div ng-show="noteOption.text">
               <div class="coverPageWrapper">
                  <div class="coverPage">
                     <h1>
                        <p ng-repeat="header in intro">{{header}}</p>
                     </h1>
                  </div>
                  <div ng-if="noteOption.interleaved" class="notes coverNotes" >
                     <span ng-if="content.length" ng-repeat="note in notes(0)">
                        <span style="font-weight:bold">{{doNote(note)}}.</span> {{note[4]}}:
                     </span>
                  </div>
               </div>
               <div class="pages" data-display-option="{{displayOption.name}}" data-offset-acrostic="{{displayOption.offsetAcrostic}}" data-language-equal-size="{{displayOption.languageEqualSize}}">
                  <div class="page page_{{page}}" ng-repeat="page in displayOption.pages || [0]">
                     <div>
                        <div>
                           <div ng-if="noteOption.interleaved" class="notes coverNotes" >
                              <span ng-if="content.length" ng-repeat="note in notes(0)">
                                 <span style="font-weight:bold">{{doNote(note)}}.</span> {{note[4]}}:
                              </span>
                           </div>
                           <span ng-repeat="(si, stanza) in content" class="stanzaWithNotes" style="display:inline-block;">
                              <div class="stanza">
                                 <span ng-repeat="line in displayOption.lines" class="line">
                                    <span
                                       ng-repeat="column in [0,1,2,3] track by column + '_' + line + '_' + page"
                                       ng-init="obj={line:line,column:column,page:page}"
                                       class="bayith {{displayOption.language(obj)}} {{'line_' + line}} {{'col_' + column}} {{'page_' + page}}"
                                    >
                                       <span class="acrostic" ng-show="stanza[column].acrostic && displayOption.language(obj) != 'english'" ng-bind-html="letters(stanza, obj, false)"></span><!-- Prevent unwanted spaces
                                       --><span ng-bind-html="letters(stanza, obj, true) + punctuation(obj)"></span>
                                    </span>
                                 </span>
                              </div>
                              <div ng-if="noteOption.interleaved" class="notes">
                                 <span ng-if="content.length" ng-repeat="note in notes(si + 1)">
                                    <span style="font-weight:bold">{{doNote(note)}}.</span> {{note[4]}}:
                                 </span>
                              </div>
                           </span>
                           <div class="conclusionWrapper">
                              <p ng-show="page == 0" class="conclusion">
                                 {{end}}
                              </p>
                              <div ng-if="noteOption.interleaved" class="notes conclusionNotes">
                                 <span ng-if="content.length" ng-repeat="note in notes(23)">
                                    <span style="font-weight:bold">{{doNote(note)}}.</span> {{note[4]}}:
                                 </span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="notes" ng-show="noteOption.notes">
               <span ng-repeat="stanza in noteStanzas()">
                  <div ng-if="noteOption.split" style="font-weight: bold;" ng-if="stanza > 0 && stanza <= 22">{{stanzaLetter(stanza)}}</div>
                  <span ng-if="content.length" ng-repeat="note in notes(stanza)">
                     <span style="font-weight:bold">{{doNote(note)}}.</span> {{note[4]}}:
                  </span>
               </span>
            </div>
         </div>
      </div>
   </body>

</html>
